In [4]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [3]:
data = pd.read_csv("cleanData.csv")
data

,Census Tract Name,Block Group,Place Name_x,Total persons,Male persons age under 5 years,Male persons age 5 years,Male persons age 6 years,Male persons age 7-9 years,Male persons age 10-13 years,Male persons age 14 years,...,Renter occupied housing units with 1.01 or more persons per room,Total Black occupied housing units with 1.01 or more persons per room,Black owner occupied housing units with 1.01 or more persons per room,Black renter occupied housing units with 1.01 or more persons per room,Persons in occupied housing units with all plumbing facilities,Persons in occupied housing units lacking one or more plumbing facilities,Persons in occupied housing units with 1.01 or more persons per room with all plumbing facilities,Persons in occupied housing units with 1.01 or more persons per room lacking one or more plumbing facilities,Families with all plumbing facilities,Families lacking one or more plumbing facilities
0,Census Tract 1,1,San Diego,901,31,6,9,29,32,9,...,10,...,...,...,897,4,30,0,225,1
1,Census Tract 1,2,San Diego,683,28,2,9,14,21,6,...,11,...,...,...,683,0,78,0,174,0
2,Census Tract 1,3,San Diego,532,18,4,4,15,26,6,...,13,...,...,...,532,0,34,0,136,0
3,Census Tract 1,4,San Diego,421,9,3,5,5,7,3,...,9,...,...,...,421,0,21,0,119,0
4,Census Tract 1,5,San Diego,489,12,2,4,6,13,4,...,0,...,...,...,486,3,9,0,142,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Census Tract 199,3,NaN,271,5,1,0,9,16,2,...,17,...,...,...,270,1,57,0,83,0
1260,Census Tract 199,3,NaN,259,4,5,2,9,6,4,...,21,...,...,...,259,0,38,0,78,0
1261,Census Tract 199,9,NaN,444,14,2,3,21,19,3,...,17,...,...,...,415,1,58,0,115,0
1262,Census Tract 199,9,NaN,550,12,1,4,8,17,6,...,10,...,...,...,544,6,25,6,173,1
1263,Census Tract 199,9,Vista,6,0,0,0,0,0,0,...,...,...,...,...,...,...,...,...,...,...